//
//	VARIABLES
// ------------------------------------------------------

$color-safe:   #1da1f2;
$color-warn:   #ffad1f;
$color-danger: #e0245e;


// stroke
$color-underlay: #ccc;

$stroke-width:     1;
$stroke-progress:  3;
$stroke-thicc:     5;
$stroke-bounce:   10;


// typography
$font-size-base: 100%;
$font-family-sans: Montserrat, sans-serif;

$color-text:  #333;
$color-muted: #777;


// bg, bro
$background-url: '../img/happy.png';
